@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";


body {
  background-color: #F1EFEF;
}

.header-logo {
  width: 100px;
  max-width: 100px;
}

/* Loading */
.spiner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}